body {
	background: #fff;
	font-family: arial;
	margin: 5%;
}

h1, h2 {
	color: #444;
}

a {
	color: black;
}


header {
	background-color: #5F9EA0;
	color: white;
	padding: 10%;
}

.row {
	clear: both;
}
.col {
	float: left;
	width: 31%
	margin: 1%;
}

footer {
	clear: all;
	background-color: #990;
	float: left;
}