body {
	background: #fff;
	font-family: arial;
	margin: 5%;
}

h1 {
	color: #333;

}
 h2 {
	color: #666;
}

a {
	color: black;
}


header {
	background-color: #5F9EA0;
	color: white;
	padding: 5%;
}

.row {
	clear: both;
}
.col {
	float: left;
	width: 31%
	margin: 1%;
}

footer {
	clear: all;
	float: left;
}